.textStyle { color: #053C5E;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.textFirstLetter {
    font-size: 30px !important;
    font-weight: bold !important;
}
/* Main navigation buttons */
.buttonLink {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonLink span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.buttonLink span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonLink:hover span {
    padding-right: 25px;
}
.buttonLink:hover span:after {
    opacity: 1;
    right: 0;
}

/* Going back, to previous page */
.buttonBack {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonBack span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.buttonBack span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
.buttonBack:hover span {
    padding-left: 25px;
}
.buttonBack:hover span:after {
    opacity: 1;
    left: 0;
}

/* Styles for page feature buttons */
.buttonFeauture {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 26px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonFeauture2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.buttonFeauture2:hover {
    background-color: #008CBA;
    color: white;
}

/* The snackbar message style */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #008CBA;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* banner styles */
.bannerText {
    color: #053C5E;
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -110%);
    margin-top: -5px;
    background-color: rgba(255, 218, 163, 0.5);
    text-align: center;
    border-radius: 5px;
    border:10px solid rgba(255, 194, 101, 0);
    border-top: 15px solid rgba(255, 194, 101, 0);
}
.bannerTextP {
    font-size: 14px !important;
    text-align: right;
    margin-bottom: -2px;
}
.bannerText2 {
    color: #053C5E;
    font-size:22px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, 300%);
    margin-top: -5px;
    background-color: rgba(255, 218, 163, 0.5);
    text-align: center;
    border-radius: 5px;
    border:10px solid rgba(255, 194, 101, 0);
    border-top: 15px solid rgba(255, 194, 101, 0);
}